.jumbotron{
    background-image: url("https://images.unsplash.com/photo-1523286680734-c387ced73af5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron p{
    color: white;
}

.jumbotron h1{
    color: white;
}
