<h1 class="text-center mt-4"> Image detail</h1>

<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title"><%= @image.name%> </h5>
    </div>
    <%= image_tag(@image.url, class:"card-img")%>
    <div class="card-footer text-muted">
        <% if @image.tags.any? %>
            <div class="mb-2">Tags: 
                <%@image.tag_list.each do |tag| %>
                    <span class="badge badge-success mr-1">
                        <%= tag %>
                    </span>
                <%end%>
            </div>
        <% end %>
        <small>Created <%= time_ago_in_words(@image.created_at) %></small> 
    </div>
</div>
